.Propiedad {
    display: list-item;
    justify-self: center;
    width: 400px;
    margin: 0.2rem;
    font-size: 1.4rem;
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: rgb(231, 225, 197);
    border-radius: 1rem;
    border: black;
    border: solid;
    text-transform: uppercase;
    
}
.Propiedad img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding: 0.2rem;
    
}