* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: rgb(223, 133, 74);
  font-size: 30px;
}
.linkBoton{
  list-style-type: none;
 display: inline-block;
 font-size: 0.8rem;
 margin: 0.4rem;
 text-decoration: none;
 };